<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/estilos.css">
    <link rel="icon" type="image/png" href="/assets/img/Logo_icono.png"/>
    <title>MoneyManager | Registro</title>
</head>
<body>

    <main>

    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="separador"></div>
        <div class="footer-principal">
            <div class="imagen"> <img src="/assets/img/logo_completo_1.png" alt="Gestor de gastos"></div>
            <div class="contenedor-participantes">
                <article class="nombre">
                    <h2>Benjamin Munera Bernal</h2>
                    <a href=" https://github.com/benjamin-mb">https://github.com/benjamin-mb</a>
                </article>

                <article class="nombre">
                    <h2>Jose Fernando Navarro Rivera</h2>
                    <a href="https://github.com/Dev-Jose7">https://github.com/Dev-Jose7</a>
                </article>

                <article class="nombre">
                    <h2>Valeria Salazar Hernandez</h2>
                    <a href="https://github.com/ValeriaS22">https://github.com/ValeriaS22</a>
                </article>
            </div>
        </div>

        <div class="espacio-en-blanco"></div>
        <div class="derechos">
            <h2>Todos los derechos reservados a MoneyManager </h2>
        </div>
    </footer>


    <script src="./src/index.js"></script>
</body>
</html>