:root{
    /*Colores*/
    --primario: #366028;
    --secundario: #d69d27;
    --negro: #000;
    --blanco: #FFF;
}

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

/***VERSION MÓVIL***/
/*Aqui digitas el código para versión móvil*/

html{
    box-sizing: inherit;
    font-size: 62.5%;
}

body{
    font-size: 2vh;
    font-family: sans-serif;
}

img{
    max-width: 100%;
}

h1{
    font-size: 3vh;
    color: var(--primario);
}

/***Utilidades***/
.contenedor{
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

.animacion{
    transition: all ease-in 0.5s;
}

.boton{
    font-weight: 600;
    color: var(--negro);
    text-decoration: none;
    padding: 4vw;
    border-radius: 1vw;
    width: 100%;
    text-align: center;
    
    transition: all ease-in-out 0.5s;
}

.boton:active{
    color: var(--negro);
    background-color: var(--blanco);
    box-shadow: 0 0 0.10rem var(--primario);
}

.seleccion--verde{
    color: var(--blanco);
    background-color: var(--primario);
    box-shadow: 0 0 0.5rem var(--primario);
}

.seleccion--amarillo{
    color: var(--blanco);
    background-color: var(--secundario);
    box-shadow: 0 0 0.5rem var(--secundario);
}

.seleccion--amarillo:active{
    box-shadow: 0 0 0.5rem var(--secundario);
}

/*Barra*/
.encabezado__barra{
    height: 10vh;
    background-color: var(--blanco);
    position: fixed;
    z-index: 4;
    inset: 0;
    border: 0.4rem solid var(--secundario);
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.encabezado__contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vh;
    height: 10vh;
}


.encabezado__logo{
    flex: 0 0 40%;
}

.encabezado__logo h1 {
    font-weight: 800; 
}

.encabezado__logo--titulo{
    color: var(--secundario);
}

.encabezado__icono{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 0.75vh;
}

.encabezado__icono--linea{
    width: 5vh;
    height: 0.6vh;
    background-color: var(--primario);
}

.activador{
    display: none;
}

.encabezado__navegacion{
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: white;
    color: white;
    padding: 20px;
    position: fixed;
    height: 90vh;
    top: 10vh;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.encabezado__menu{
    flex: 0 0 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
}

.encabezado__usuario {
    flex: 0 0 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 3vw;
    justify-content: flex-end;
}

.btn-icon {
    background: none;
    border: none;
    color: #4CAF50;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s;
    order: 1;
    font-weight: 600;
}

.btn-icon:hover {
    color: #ffa500;
}

.header-right p{
    display: none;
}

.efect{
    opacity: 1;
    visibility: visible;
}

/*Banner*/
.encabezado__banner{
    height: 90vh;
    margin-top: 10vh;
    background-image: url(../img/banner1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.encabezado__opacidad{
    height: inherit;
    background-color: var(--negro);
    opacity: 0.5;
}

.encabezado__descripcion{
    position: absolute;
    z-index: 2;
    inset: 0;
    display: flex;
    /* flex-direction: column;
    justify-content: center; */
    align-items: center;
    color: var(--blanco);
}

.encabezado__descripcion--elemento{
    opacity: 0.85;
    margin-bottom: 3vh;
    line-height: 1.5;
    text-align: justify;
}

.encabezado__descripcion--texto h2{
    font-size: 4.8vh;
    font-weight: bold; 
    line-height: 1.2; 
}

.encabezado__descripcion--texto p{
    font-size: 2.5vh;
}


.encabezado__descripcion--logo{
    position: absolute;
    bottom: 2vh;
    text-align: end;
}

.encabezado__descripcion--logo img{
    width: 30%;
}

/***VERSION ESCRITORIO***/
/*Aqui digitas el código para versión pc*/
@media (min-width: 768px) {

    h1{
        font-size: 4vh;
    }

    .boton{
        padding: 0.5vw 1vw;
        border-radius: 0.5rem;
    }

     .boton:hover{
        box-shadow: 0 0 0.5rem var(--primario);
    } 

    .seleccion--amarillo:hover{
        color: var(--negro);
        background-color: var(--blanco);
        box-shadow: 0 0 0.5rem var(--secundario);
    }

    .encabezado__contenedor{
        flex-wrap: nowrap;
    }

    .encabezado__logo{
        flex: 0 0 20%;
    }

    .encabezado__icono{
        display: none;
    }

    .encabezado__navegacion{
        flex: 0 0 55%;
        height: unset;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: unset;
        padding: 0;
        gap: 4vw;
        font-size: unset;
        opacity: 1;
        visibility: unset;
    }

    .encabezado__menu,
    .encabezado__usuario{
        flex-direction: row;
        flex-basis: unset;
        justify-content: space-between;
        gap: 1vw;
    }

    .header-right{
        gap: 1vw;
    }

    .header-right p{
        display: unset;
    }

    .header-right .btn-icon{
        transform: scale(0.85);
    }

    .btn-menu {
        display: none;
    }

    .encabezado__descripcion{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .encabezado__descripcion--texto h2{
        font-size: 7vh;
    }

    .encabezado__descripcion--texto{
        flex: 0 0 40%;
    }

    .encabezado__descripcion--logo{
        flex: 0 0 20%;
        position: static;
        bottom: unset;
        text-align: center;
    }

    .encabezado__descripcion--logo img{
        width: unset;
    }

}

/***MAIN - PRINCIPAL***/
/*VERSION ESCRITORIO*/     
.principal{
    margin: 15vh 0;
}

.aboutus-text {
    text-align: center; 
    margin-top: 30px; 
    margin-bottom: 30px; 
}

.aboutus-text h3{
    font-size: 3rem;
    font-weight: bold; 
    line-height: 1.2; 
    color: #333;
}

.aboutus-container {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    width: 100%;
    padding: 20px;
}

.about-us {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    margin: 0 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 420px;
    text-align: justify;
}

.about-us p {
    color: #333;
    line-height: 1.5;
    font-size: 2.5vh;
}

.about-us:nth-child(2) .btn {
    background-color: #569642;
    color: white;
    padding: 10px 50px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    font-size: 1.5rem;
}

.about-us p:nth-child(2) {
    color: #569642;
    font-weight: bold;
}

/*VERSION MÓVIL*/
@media (max-width: 768px) {
    .principal{
        margin: 5vh 0;
    }

    .aboutus-container {
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }

    .about-us {
        margin-bottom: 20px;
        width: 100%;
    }

    .about-us p{
        font-size: 2.3vh;
    }

    .about-us:nth-child(2) .btn {
        width: 100%;
        text-align: center;
    }
}
 

/***FOOTER***/
/*VERSION MOVIL*/
.separador{
    height: 15px;
    width: 100;
    background-color: var(--secundario);
    }

footer{
    width: 100%;
}

.footer-principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.imagen{
    align-self: center;
    margin: 4vh 0;
    width: 50%;
    text-align: center;
}

.contenedor-participantes{
    display: flex;
    flex-direction: column; 
    gap: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4vh;
    text-align: center;
}

.nombre {
    margin-bottom:15px;
    
}

.nombre h2{

    color: #000;   
    font-size: 2.5vh;
    font-weight: bold;
    line-height: 20px;
}

.nombre a{
    color: #000;
    text-decoration: none;
    font-size: 2vh;
}


.derechos{
    background-color: grey;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

.derechos h2{
    color: white;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

    
       
/***VERSION ESCRITORIO***/
@media(min-width:700px) {
    .separador{
        height: 20px;
        width: 100;
        background-color: var(--secundario);
    }

    .footer-principal{
        box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: unset;
    }

    .imagen{
        width: 25%;
        text-align: center;
    }

    .imagen > img{
        width: 50%;
    }

    .contenedor-participantes{
        flex: 0 0 75%;
        justify-content: center;
        box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2);
    }

    .nombre {
        margin-bottom:5px;
        padding: 10px;
    }

    .nombre h2{
        margin-bottom:4px;
        color: #000;   
        font-size: 1.4vw;
        font-weight: bold;
        line-height: 20px;
    }

    .nombre a{
        font-size: 1.2vw;
    }

    .nombre a{
        color: #000;
        text-decoration: none;
    }

    .espacio-en-blanco{
        background-color: white;
        padding: 1.5vh;
        width: 100%;
    }

    .derechos{
        background-color: grey;
        height: 50px;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .derechos h2{
        color: white;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
}